tr:nth-child(odd){
    
    background-color: #964fcc;
    color: yellow;
    
}


thead tr {
    
    background-color: black;
    
    color: white;
    
    
}



nav a {
    
    text-decoration: none;
    
    color: white;
    
    
}




body {
    
    box-sizing: border-box;
    margin: 0;
    padding: 80px 20px 0;
    background-color: whitesmoke
}


.header {
    
    position: fixed;
    background-color: #076af0;
    top: 0;
    
    left: 0;
    height: 80px;
    width: 100%;
   
}


.logo {
    
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height:  90px;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link {
    
    color: white;
    text-decoration: none
     
}

.nav-menu {
    
    display: flex;
    margin-right: 40px;
    list-style: none;
}


.nav-menu-item{
    
    font-size: 18px;
    margin: 0 10px;
    line-height:  90px;
}

.nav-menu-link {
    
    
    
    
    
}

.nav-menu-link:hover {
  background-color: #024070;
  
}

aside {
    
    position: fixed;
    background-color: bisque;
    top: 80px;
    left: 0px;
    bottom: 20px;
    width: 20%;
    
}

section {
    
    overflow-y: scroll;
    position: fixed;
    background-color: aquamarine;
    top: 80px;
    left: 20%;
    bottom: 20px;
    width: 80%;
   
}


footer {
    
    text-align: center;
    position: fixed;
    background-color: black;
    color: white;
    
   
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
   
}